
*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: 500;
    font-size: 20px;
}

body{
    overflow: hidden;
    position: relative;
}

.terminal{
    display: flex;
    flex-direction: column;
    color: white;
    background: #000;
    padding: 20px;
    height: calc(200vh - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}

.help-comment{
    color: #909090;
    position: absolute;
    bottom:50px;
    rigth: 10px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
}

b,
a:hover{
    color: aqua;
}

a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

strong,
.prompt{
    color: yellowgreen;
    font-weight: 600;
}

.command {
    width: 100%;
    margin-left: 10px;
    color: white;
    background-color: #000;
    outline: none;
    border: none;
}

.list{
    display: grid;
}

pre{
    display: flex;
    flex-direction: column;
    color: #eaeaea;
}

.comment{
    color: grey;
}

.hidden {
    color: #000;
}

.introduction strong{
    color: tomato;
}

::-webkit-progress-bar{
    background-color: yellowgreen;
}
